body{
    width: 1000px;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header figure{
    display: grid;
    grid-template-columns: 30px auto;
}

header figure figcaption{
    margin-left: 10px;
    font-weight: bold;
    font-size: 24px;
    color: #3E3F43;
}

header nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

header nav a{
    color: #222222;
    font-size: 16px;
    text-decoration: none;
}

header nav a.active{
    color: #DAA520;
    font-weight: bolder;
}

.sign-in-btn{
    border: 1px solid #3E3F43;
    width: 137px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}


section#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section#main h1{
    font-size: 36px;
    font-weight: normal !important;
}

section#main p{
    font-size: 72px;
    font-weight: bold;
}

.yellow-btn{
    background-color: #DAA520;
    color: white;
    width: 175px;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}